# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data (1).csv

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('applicants_data.csv')

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [5]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(['EIN', 'NAME'], axis=1)

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [6]:
# Create a list of categorical variables 
categorical_variables = ['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION','USE_CASE','ORGANIZATION','STATUS','INCOME_AMT','SPECIAL_CONSIDERATIONS','IS_SUCCESSFUL']

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'STATUS',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS',
 'IS_SUCCESSFUL']

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(handle_unknown='ignore')

In [8]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [9]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data.toarray())

# Review the DataFrame
encoded_df.head()

,0,1,2,3,4,5,6,7,8,9,...,108,109,110,111,112,113,114,115,116,117
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [10]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([encoded_df,applicant_data_df], axis=1)

# Review the Dataframe
encoded_df.head()

,0,1,2,3,4,5,6,7,8,9,...,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.iloc[:, 0:118]

# Review the features DataFrame
X

,0,1,2,3,4,5,6,7,8,9,...,108,109,110,111,112,113,114,115,116,117
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [13]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [14]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [15]:
# Define the the number of inputs (features) to the model
number_input_features = 118

# Review the number of features
number_input_features

118

In [16]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [17]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  8

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

8

In [18]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  4

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

4

In [19]:
# Create the Sequential model instance
nn = Sequential()

In [20]:
# Add the first hidden layer
nn.add(
    Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

In [21]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [22]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="linear"))

In [23]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 952

 dense_1 (Dense)             (None, 4)                 36

 dense_2 (Dense)             (None, 1)                 5

=================================================================
Total params: 993
Trainable params: 993
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [24]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [25]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9694 - accuracy: 0.8520
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2595 - accuracy: 0.9771
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1761 - accuracy: 0.9865
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1627 - accuracy: 0.9882
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1515 - accuracy: 0.9893
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1445 - accuracy: 0.9901
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1405 - accuracy: 0.9903
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1231 - accuracy: 0.9918
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1231 - accuracy: 0.9916
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0821 - accuracy: 0.9945
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0815 - accuracy: 0.9946
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0814 - accuracy: 0.9946
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0814 - accuracy: 0.9946
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0814 - accuracy: 0.9947
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0814 - accuracy: 0.9947
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0813 - accuracy: 0.9947
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0830 - accuracy: 0.9945
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1013 - accuracy: 0.9933
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0916 - accuracy: 0.9937
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0895 - accuracy: 0.9940
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0893 - accuracy: 0.9941
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0893 - accuracy: 0.9941
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0893 - accuracy: 0.9942
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0828 - accuracy: 0.9944
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0753 - accuracy: 0.9950
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0751 - accuracy: 0.9950
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0750 - accuracy: 0.9951
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0750 - accuracy: 0.9951
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0750 - accuracy: 0.9951
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0750 - accuracy: 0.9951
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.0750 - accuracy: 0.9951
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0750 - accuracy: 0.9951
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0750 - accuracy: 0.9951
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0750 - accuracy: 0.9951
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0750 - accuracy: 0.9951
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0750 - accuracy: 0.9951
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0751 - accuracy: 0.9950
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0750 - accuracy: 0.9951
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0739 - accuracy: 0.9951
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0621 - accuracy: 0.9958
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0565 - accuracy: 0.9963
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0601 - accuracy: 0.9960
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0599 - accuracy: 0.9961
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0599 - accuracy: 0.9961
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0599 - accuracy: 0.9961
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0599 - accuracy: 0.9961
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0599 - accuracy: 0.9961
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0599 - accuracy: 0.9961
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0599 - accuracy: 0.9961
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0599 - accuracy: 0.9961

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [26]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.0516 - accuracy: 0.9966 - 325ms/epoch - 1ms/step
Loss: 0.0516481027007103, Accuracy: 0.9966180920600891

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [27]:
# Set the model's file path
file_path = "AlphabetSoup.h5"

# Export your model to a HDF5 file
nn.save_weights(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [28]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

118

In [29]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 5

In [30]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 24

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

24

In [31]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [32]:
# First hidden layer
nn_A1.add(
    Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu")
)

# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation="linear"))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 24)                2856

 dense_4 (Dense)             (None, 5)                 125

=================================================================
Total params: 2,981
Trainable params: 2,981
Non-trainable params: 0
_________________________________________________________________

In [33]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [34]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 1.3579 - accuracy: 0.1331
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.3350 - accuracy: 0.0718
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2474 - accuracy: 0.0640
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2342 - accuracy: 0.0676
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2225 - accuracy: 0.0667
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1978 - accuracy: 0.0650
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1874 - accuracy: 0.0580
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1633 - accuracy: 0.0661
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1491 - accuracy: 0.0856
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1374 - accuracy: 0.1057
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1354 - accuracy: 0.1003
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1346 - accuracy: 0.1049
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1369 - accuracy: 0.1208
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1350 - accuracy: 0.0974
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1337 - accuracy: 0.0822
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1262 - accuracy: 0.0795
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1183 - accuracy: 0.0558
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1117 - accuracy: 0.0791
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1098 - accuracy: 0.0872
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.1042 - accuracy: 0.0632
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0899 - accuracy: 0.0808
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0552 - accuracy: 0.0707
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0545 - accuracy: 0.0381
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0545 - accuracy: 0.0320
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0458 - accuracy: 0.0207
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0305 - accuracy: 0.0257
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0222 - accuracy: 0.0254
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0208 - accuracy: 0.0216
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0211 - accuracy: 0.0227
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0210 - accuracy: 0.0234
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0210 - accuracy: 0.0234
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0210 - accuracy: 0.0234
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0210 - accuracy: 0.0234
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0210 - accuracy: 0.0234
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0210 - accuracy: 0.0234
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0210 - accuracy: 0.0234
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0210 - accuracy: 0.0234
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0210 - accuracy: 0.0234
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0210 - accuracy: 0.0234
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0210 - accuracy: 0.0234
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0210 - accuracy: 0.0234
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0210 - accuracy: 0.0234
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0210 - accuracy: 0.0234
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0210 - accuracy: 0.0234
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0210 - accuracy: 0.0234
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0210 - accuracy: 0.0234
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0210 - accuracy: 0.0234
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0210 - accuracy: 0.0234
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0210 - accuracy: 0.0234
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.0210 - accuracy: 0.0234

#### Alternative Model 2

In [35]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

118

In [36]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 2

In [37]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 4

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

4

In [38]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [39]:
# First hidden layer
nn_A2.add(
    Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu")
)

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation="linear"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 4)                 476

 dense_6 (Dense)             (None, 1)                 5

=================================================================
Total params: 481
Trainable params: 481
Non-trainable params: 0
_________________________________________________________________

In [40]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [41]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 1.7916 - accuracy: 0.8064
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4021 - accuracy: 0.9706
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.3327 - accuracy: 0.9775
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.3262 - accuracy: 0.9785
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.3238 - accuracy: 0.9786
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.3229 - accuracy: 0.9787
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.3225 - accuracy: 0.9790
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.3222 - accuracy: 0.9790
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.3221 - accuracy: 0.9790
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.3219 - accuracy: 0.9790
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.3213 - accuracy: 0.9792
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.3096 - accuracy: 0.9797
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2399 - accuracy: 0.9842
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2328 - accuracy: 0.9849
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2327 - accuracy: 0.9849
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2327 - accuracy: 0.9849
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2327 - accuracy: 0.9849
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2326 - accuracy: 0.9849
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2310 - accuracy: 0.9850
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.2308 - accuracy: 0.9850

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [42]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.0516 - accuracy: 0.9966 - 331ms/epoch - 1ms/step
Loss: 0.0516481027007103, Accuracy: 0.9966180920600891

In [43]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.0160 - accuracy: 0.0247 - 410ms/epoch - 2ms/step
Loss: 0.016046013683080673, Accuracy: 0.024723032489418983

In [44]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.2502 - accuracy: 0.9836 - 286ms/epoch - 1ms/step
Loss: 0.2501619756221771, Accuracy: 0.983556866645813

### Step 3: Save each of your alternative models as an HDF5 file.

In [45]:
# Set the file path for the first alternative model
file_path = "Alternative_1.h5"

# Export your model to a HDF5 file
nn_A2.save_weights(file_path)

In [46]:
# Set the file path for the second alternative model
file_path = "Alternative_2.h5"

# Export your model to a HDF5 file
nn_A2.save_weights(file_path)